<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <%- include ('templates/head') %>
  </head>

  <body>
    <%- include ('templates/nav_manage') %>
    
    <div class="manage">

      <h1>專案計畫管理</h1>

      <div class="manage__title">
        <a href="/manage/project/add">新增專案計畫</a>
      </div>
      
      <div class="manage__list menu">
        
          <div class="container">
            <!--<h2>Responsive Tables Using LI</h2>-->
            <ul class="responsive-table">
              <li class="table-header">
                <div class="col col-1">計畫所屬單位</div>
                <div class="col col-2">計畫名稱</div>
                <div class="col col-3">計劃年度</div>
                <div class="col col-4">功能</div>
              </li>
              <% const job_title_arr = ['總經理', '副總經理', '協理', '研發經理', '經理', '高級資深工程師', '資深工程師', '系統工程師', '前端工程師', '財務會計經理', '會計']; %>
              <% 
              project.forEach(project => { 
                let str = (project.start_year.substring(0,4)-1911) + '-' + (project.end_year.substring(0,4)-1911);
              %>
              <li class="table-row">
                <div class="col col-1" data-label="Job Id"><%= project.project_company %></div>
                <div class="col col-2" data-label="Customer Name"><%= project.project_name %></div>
                <div class="col col-3" data-label="Amount"><%= str %></div>
                <div class="col col-4" data-label="Payment Status">
                  <div class="function">
                    <div class="edit">
                      <a href="/manage/project/edit/<%= project.pid %>">編輯</a>
                    </div>
                    <div class="delete">
                      <form action="/manage/project/delete"  method="POST">
                        <input name="id" hidden value="<%= project.pid %>" />
                        <button type="submit">刪除</button>
                      </form>
                    </div>
                </div>
                </div>
              </li>
              <% }) %>
            </ul>
          </div>   
      
      </div>
    </div>
  </body>
</html>